/*
** FILE:        derjyn.css
** UPDATED:     06/10/2015
** DESCRIPTION: Derjyn CSS
** CREDITS:     Nathan Harris aka Derjyn
*/

/**************************************************************************************************/
/*** SANITY ***************************************************************************************/

html, body {
  background-color: transparent;
  min-height: 100%;
}

/**************************************************************************************************/
/*** LAYOUT ***************************************************************************************/

header, nav, main { margin-bottom: 10px !important }

header h1, main section h2 { margin: 0 }

main section h2 { height: 100% }

/**************************************************************************************************/
/*** GRID MODS ************************************************************************************/

.row, .column, .columns { padding: 10px }

/**************************************************************************************************/
/*** ICONS ****************************************************************************************/

i {
  font-style: normal;
  font-weight: bold;
}
i.icon {
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-size: 64px 64px;
  display: block;
  height: 64px;
  width: 64px;
}
nav i.icon {
  background-position: 8px 8px;
  background-repeat: no-repeat;
  background-size: 64px 64px;
  display: block;
  line-height: 80px;
  height: 80px;
  padding-left: 80px;
}
i.icon.icon-badge      { background-image: url("../img/icon-badge.png") }
i.icon.icon-portfolio  { background-image: url("../img/icon-portfolio.png") }
i.icon.icon-projects   { background-image: url("../img/icon-projects.png") }
i.icon.icon-skills     { background-image: url("../img/icon-skills.png") }

/**************************************************************************************************/
/*** UTILITY **************************************************************************************/

hr.style-three {
  border: 2px solid rgba(0, 0, 0, 0.2);
  height: 0;
  margin: 10px auto;
  max-width: 800px;
}

/**************************************************************************************************/
/*** LAYOUT DEBUG *********************************************************************************/

.padded { padding: 10px }

.debug-level-1 { background-color: rgb(240,50,40) }
.debug-level-2 { background-color: rgb(32,192,32) }
.debug-level-3 { background-color: rgb(32,32,192) }
.debug-level-4 { background-color: rgb(192,192,32) }

/**************************************************************************************************/
/*** EOF ******************************************************************************************/
