/*
**
** FILE:		derjyn.css
** UPDATED: 	07/24/2014
** NOTES:		CSS is currently not compressed (duh?)
** CREDITS: 	Sublime HQ for Sublime Text / Google for Chrome / You for viewing
*/


/*************************************************************************************************/
/*** RESET ***************************************************************************************/

*, *:before, *:after {
	box-sizing: border-box;
}

body, html {
	height: 100%;
}

body, html, header, main, footer {
	margin: 0;
	padding: 0;
}


/*************************************************************************************************/
/*** LAYOUT **************************************************************************************/

.header, main, footer {
	display: flex;
	display: -webkit-flex;
	flex-flow: row wrap;
	-webkit-flex-flow: row wrap;
	max-width: 960px;
	z-index: 1;
}

main {
	max-width: 960px;
	min-height: 320px;
	margin: 0 auto;
	margin-top: 16px;
}

#content {
	padding: 16px;
}
#content h3 {
	clear: both;
}

footer {
	max-width: 960px;
	height: 32px;
	margin: 0 auto;
	margin-top: 16px;
}

#art, #ui-work {
	display: block;
	clear: both;
}
#art li {
	display: block;
	float: left;
	padding: 8px;
}
#ui-work li {
	display: block;
	float: left;
	padding: 8px;
}


/*************************************************************************************************/
/*** TYPOGRAPHY **********************************************************************************/

* {
	font-size: 16px;
}

@font-face {
    font-family: "Joystix";
    font-style: normal;
    src: url("joystix.otf");
}

#content h2, #content h3, #tab-links li a, footer span {
    font-family: "Joystix";
    font-weight: normal;	
}

#content h2 {
    font-size: 20px;
    color: rgb(200, 200, 200);
    margin: 0;
}
#content h3 {
    font-size: 16px;
    color: rgb(200, 200, 200);
    margin: 0;
    padding-top: 32px;
}
#content p, #content ul {
    font-family: monospace;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    padding: 8px;
    color: rgb(224, 224, 224);	
}
#content ul {
	list-style: none;
	margin: 0;
	padding: 8px;
}
#content a {
	color: rgb(224, 64, 64);
	text-decoration: none;
}

footer span {
    font-size: 10px;
	line-height: 32px;
	text-align: center;
	color: rgb(80,80,80);
	margin: 0 auto;
}


/*************************************************************************************************/
/*** STYLE ***************************************************************************************/

body {
	background: rgb(8,8,8);
	background: -moz-radial-gradient(center, ellipse cover, rgb(24,24,24) 0%, rgb(8,8,8) 100%);
	background: -webkit-radial-gradient(center, ellipse cover, rgb(24,24,24) 0%, rgb(8,8,8) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgb(24,24,24) 0%, rgb(8,8,8) 100%);
	background: radial-gradient(ellipse at center, rgb(24,24,24) 0%, rgb(8,8,8) 100%);
	z-index: 0;
}

main, footer, nav {
	background-color: rgba(24,24,24, 0.7);
}


/*************************************************************************************************/
/*** HEADER **************************************************************************************/

.header {
	position: relative;
	max-width: 960px;
	height: 96px;
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
}

.header span {
	position: absolute;
	max-width: 960px;	
	font-size: 3em;
	font-weight: normal;
	line-height: 96px;
	letter-spacing: 0.1em;
	font-family: "Joystix", fixed;
}
.header span:nth-child(1) {
	color: red;
	margin-left: -1px;
}
.header span:nth-child(2) {
	color: green;
	margin-left: 1px;
}
.header span:nth-child(3) {
	color: blue;
}
.header span:nth-child(4) {
	color: rgb(50,50,50);
}
.header span:nth-child(5) {
	color: rgba(255,255,255,0.9);
}

.header span {
	-webkit-animation: blur 1000ms infinite;
}
@keyframes blur {
	0%		{ -webkit-filter: blur(1px); }
	1%		{ -webkit-filter: blur(0px); }
}

.header span:nth-child(1) {
	-webkit-animation: jerkred 1000ms infinite;
}
@keyframes jerkred {
  0% 	{ left: 0; 		top: 0px; opacity: 0.7; }
  30% 	{ left: 0; 		opacity:0.2; }
  31% 	{ left: 4px; 	top: 4px; opacity: 0.7; }
  32% 	{ left: 0;		top: 0px; opacity: 0.7; }
  98% 	{ left: 0;		opacity: 0.2; }
  100% 	{ left: 4px; }
}
.header span:nth-child(2) {
	-webkit-animation: jerkgreen 2000ms infinite;
}
@keyframes jerkgreen {
  0% 	{ left: 0;		opacity: 0.2; }
  30% 	{ left: 0; 		opacity: 0.2; }
  31% 	{ left: -8px;	opacity: 0.9; }
  32% 	{ left: 0;		opacity: 0.2; }
  98% 	{ left: 0;		opacity: 0.2; }
  100% 	{ left: -8px;	opacity: 0.9; }
}

.header span:nth-child(3) {
	-webkit-animation: jerkblue 3000ms infinite;
}
@keyframes jerkblue {
  0% 	{ left: 0;		opacity: 0.2; }
  30% 	{ left: 0;		opacity: 0.2; }
  31% 	{ left: 4px;	opacity: 0.9; }
  32% 	{ left: 0;		opacity: 0.2; }
  98% 	{ left: 0;		opacity: 0.2; }
  100% 	{ left: 4px;	opacity: 0.9; }
}


/*************************************************************************************************/
/*** TABS ****************************************************************************************/

#tabs {
	width: 100%;
}

.tab {
    display: none;
}
.tab.active {
	display: block;
}
.tab p {
	padding: 16px;
}

#tab-links {
	max-width: 960px;
	min-width: 320px;
	height: 32px;
	margin: 0 auto;
	margin-top: 16px;	
}
#tab-links ul {
	margin: 0 auto;
	padding: 0;
}
#tab-links li {
	display: block;
	float: left;
    width: 82px;
	height: 32px;
	margin-right: 10px;
	text-align: center;
    list-style:	none;
}
#tab-links li:last-child {
	margin-right: 0;
}
#tab-links li a {
	display: block;
	height: 32px;
	font-size: 10px;
	line-height: 32px;
	text-decoration: none;
    color: rgb(160, 160, 160);	
}
#tab-links li.active a {
	color: rgb(224, 224, 224);
    background: rgba(255,255,255,0.1);
}

#tab-links li.clicked {
	animation: flicker 500ms;
	animation: flicker 500ms;
}
@keyframes flicker {
	0%		{ -webkit-filter: opacity(1.0); }
	10%		{ -webkit-filter: opacity(0.0); }
	20%		{ -webkit-filter: opacity(1.0); }
	30%		{ -webkit-filter: opacity(0.0); }
	40%		{ -webkit-filter: opacity(1.0); }
	50%		{ -webkit-filter: opacity(0.0); }
}

.icon {
	display: inline-block;
	float: left;
	clear: right;
	position: relative;
	width: 18px;
	height: 18px;	
	top: 6px;
	left: 10px;
	background-image: url("sprites.png");
	background-repeat: no-repeat;	
}
#link-home { background-position: -2px -1px; }
#link-work { background-position: -24px -1px; }
#link-labs { background-position: -44px -1px; }
#link-dump { background-position: -66px -1px; }
#link-cred { background-position: -90px -1px; }


/*************************************************************************************************/
/*** MEDIA QUERIES *******************************************************************************/

@media only screen and (max-width : 320px) {
	#tab-links ul {
		padding: 8px;
	}
	#tab-links li {
		margin-bottom: 8px;
	}
	#tab-links li:last-child {
		margin-bottom: 0px;
	}
}


/*************************************************************************************************/
/*** EOF *****************************************************************************************/