.ico-cred, .ico-home, .ico-work, .ico-labs, .ico-dump{
	background: url(sprites.png) no-repeat;
}

.ico-cred{
	background-position: -90px -1px ;
	width: 18px;
	height: 18px;
}

.ico-home{
	background-position: -2px -1px ;
	width: 18px;
	height: 18px;
}

.ico-work{
	background-position: -24px -1px ;
	width: 18px;
	height: 18px;
}

.ico-labs{
	background-position: -44px -1px ;
	width: 18px;
	height: 18px;
}

.ico-dump{
	background-position: -66px -1px ;
	width: 18px;
	height: 18px;
}

