/*
**
** FILE:        custom.css
** UPDATED:     09/10/2014
** DESCRIPTION: Custom styling and overrides
** CREDITS:     Nathan Harris aka Derjyn
*/


/*************************************************************************************************/
/*** BONES OVERRIDES *****************************************************************************/

header		{ order: 1; }
nav			{ order: 2; }
main		{ order: 3; }
footer		{ order: 4; }
header h2	{ order: 5; }
header h1	{ order: 6; }

header h1, header h2 {
    text-align	: center;
    line-height	: 64px;
    font-weight	: bold;
}

.breaker { 
	padding				: 16px;
	text-align			: center;
    line-height			: 32px;
}


/*************************************************************************************************/
/*** EOF *****************************************************************************************/