/*
**
** FILE:        custom.css
** UPDATED:     09/11/2014
** DESCRIPTION: Custom styling and overrides
** CREDITS:     Nathan Harris aka Derjyn
*/


/*************************************************************************************************/
/*** BONES OVERRIDES *****************************************************************************/

header		{ order: 1; }
nav			{ order: 2; }
main		{ order: 3; }
footer		{ order: 4; }
header h2	{ order: 5; }
header h1	{ order: 6; }

header h1, header h2 {
    text-align	: center;
    line-height	: 64px;
    font-weight	: bold;
}

.breaker { 
	padding		: 16px;
	text-align	: center;
    line-height	: 32px;
}


/*************************************************************************************************/
/*** THEME ***************************************************************************************/

body {
	background-color: rgb(131,4,4);
}

.theme.base {
	background-color: rgb(255,180,180);
}

.theme.tendon {
	background-color: rgb(255,168,168);
}

.theme.muscle {
	background-color: rgb(255,135,135);
}

.theme.skin {
	background-color: rgb(245,118,118);
}


/*************************************************************************************************/
/*** EOF *****************************************************************************************/