/*************************************************************************************************/
/*** BASE ****************************************************************************************/

* {
    margin: 0;
    padding: 0;
}
html,body {
    height: 100%;
    width: 100%;
}

nav ul, nav ul li, nav ul li a, main section h2, main section div.content, i.icon {
    display: block;
}

/*************************************************************************************************/
/*** NAV *****************************************************************************************/

nav {
    margin: 0 auto;
    margin-bottom: 16px;
    padding: 8px;
    width: 624px;
}
nav ul {
    height: 32px;
    list-style: none;
}
nav ul li {
    float: left;
    font-weight: bold;
    height: 16px;
    line-height: 1em !important;
    margin-right: 16px;
    padding: 8px !important;
    width: 128px;
}
nav ul li:last-of-type { margin-right: 0 }
nav ul li a { text-decoration: none }

/*************************************************************************************************/
/*** MAIN/SECTIONS *******************************************************************************/

main {
    margin: 0 auto;
    padding: 8px;
    width: 624px;
}

main section {
    padding: 8px;
    width: 608px;
}

main section h2, main section div.content {
    padding: 4px;
    width: 600px;
}

main section h2 {
    height: 32px;
    margin-bottom: 8px;
}

main section div.content {
    min-height: 320px;
}

/*************************************************************************************************/
/*** TYPOGRAPHY **********************************************************************************/

body {
    font-family: sans-serif;
    color: rgb(223, 242, 176);
}

@font-face {
    font-family: "Joystix";
    font-style: normal;
    font-weight: normal;
    src: url("joystix.otf");
}

h1,h2,h3,nav,footer{ font-family: "Joystix"; }

header h1 {
    font-size: 48px !important;
    text-align: center;
    line-height: 64px;
    margin: 0;
    padding: 0;
}

/*************************************************************************************************/
/*** PALETTE *************************************************************************************/

/* BG - COLOR - # */
.bg-c-1 { background-color: rgb(17,  17,   0)  }
.bg-c-2 { background-color: rgb(51,  51,  17)  }
.bg-c-3 { background-color: rgb(85,  85,  51)  }
.bg-c-4 { background-color: rgb(119, 119, 85)  }
.bg-c-5 { background-color: rgb(136, 153, 102) }
.bg-c-6 { background-color: rgb(170, 170, 136) }
.bg-c-7 { background-color: rgb(204, 204, 170) }
.bg-c-8 { background-color: rgb(238, 238, 204) }

/* FONT - COLOR - # */
.c-1 { color: rgb(17,  17,   0)  }
.c-2 { color: rgb(51,  51,  17)  }
.c-3 { color: rgb(85,  85,  51)  }
.c-4 { color: rgb(119, 119, 85)  }
.c-5 { color: rgb(136, 153, 102) }
.c-6 { color: rgb(170, 170, 136) }
.c-7 { color: rgb(204, 204, 170) }
.c-8 { color: rgb(238, 238, 204) }

/*************************************************************************************************/
/*** STYLE ***************************************************************************************/

/* BODY */
body { background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAECAIAAAAI1ii7AAAAGklEQVQImWOUkOFlIAWwMDGRpoGJJNXkaAAAP90AXFIqWykAAAAASUVORK5CYII=') }

/* NAV ICONS */
i.icon {
    background-repeat: no-repeat;
    float: left;
    height: 16px !important;
    margin-right: 8px;
    padding: 8px;
    position: relative;
    top: -8px;
    width: 16px !important;
}
a.active i.icon.home, a.inactive i.icon.home
{ background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRF+KAcAAAANk5VCgAAAAJ0Uk5T/wDltzBKAAAAOElEQVR42mJgJAAYhqACBiCgRAEDFJCrgAEJkKOAAQ2QqoABCyBNAeVuGEwKUFn0VjCkcxZAgAEAQeIC+S/lgBkAAAAASUVORK5CYII=) }
a.active i.icon.works, a.inactive i.icon.works
{ background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRF+KAcAAAANk5VCgAAAAJ0Uk5T/wDltzBKAAAASElEQVR42mJgJAAYhqwCBjAgXwFIihIFEGkIJkcBujQpCmBeQ5UmXgFMEl2aFAXICilRgG4B8QqQPUu+AuRkQp6CIZyzAAIMADaJA4FwzWKQAAAAAElFTkSuQmCC); }
a.active i.icon.labs, a.inactive i.icon.labs
{ background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRF+KAcAAAANk5VCgAAAAJ0Uk5T/wDltzBKAAAAKElEQVR42mJgJAAYRhVQVwEDnGZAFyFJASY5FBVQEg6jKYr2CgACDACfiQOxyshmewAAAABJRU5ErkJggg==); }
a.active i.icon.creds, a.inactive i.icon.creds
{ background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRF+KAcAAAANk5VCgAAAAJ0Uk5T/wDltzBKAAAANklEQVR42mJgJAAYRhWgK2AAAmSaVAUMaGBoKkBVgjMc8CpAKMEZFwQVoAczOQpGUzUuABBgAOn6A2Gk3D9fAAAAAElFTkSuQmCC); }
a.inactive i.icon { -webkit-filter: grayscale(1); }

/*************************************************************************************************/
/*** CANDY ***************************************************************************************/

/* HEADER ABERRATION EFFECT */
.buzz_wrapper {
  width: 100%;
  height: 80px;
  margin: 0 auto;
  overflow: hidden;
}
.buzz_wrapper .text { position: relative; }

.buzz_wrapper h1 {
  width: 100%;
  position: absolute;
  line-height: 80px;
  text-align: center;
  font-size: 3em;
}
.buzz_wrapper h1 { -webkit-animation: wobble 50ms infinite; }
@-webkit-keyframes wobble {
  50% { opacity: 0.8; left: -1px; }
  51% { opacity: 1.0; left: 0px; }
}

.buzz_wrapper h1:nth-child(1) { -webkit-animation: jerk-vert 5s infinite; }
@-webkit-keyframes jerk-vert {
  0%  { top: 0; opacity: 1; }
  30% { top: 0; opacity: 1; }
  31% { top: 4px; opacity: 0.5; }
  32% { top: 0; opacity: 1; }
  59% { top: 0; opacity: 1; }
  60% { top: -4px; }
  61% { top: 0; opacity: 1; }
  98% { top: 0; opacity: 1; }
  100% { top: 4px; opacity: 0.5; }
}

/* STARFIELD */
div#starfield {
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}
